.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* General Styles */



/* General font update for the body */
body {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to the body */
}

/* Navbar Logo Font Update */
.navbar-logo {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to navbar logo */
}

/* Navbar Link Font Update */
.nav-links {
  font-family: 'Poppins', sans-serif; /* Apply Poppins font to nav links */
}


/* Adjusting the main content to avoid overlap */
.content {
  padding-top: 80px; /* Match the height of the navbar */
}
